.pageContainer {
  height: calc(100vh - 120px);
  width: 100%;
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  .pageContainer {
    height: calc(100dvh - 70px);
    margin: 0;
    padding: 0;
  }
}
